	article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
	input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
	
	.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	
	* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

	div.wrapper {
		width: 1000px;
		margin: 0 auto;
	}

	header {
		width: 100%;
		height:25px;
		background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
	}

	footer {
		clear: both;
		width: 100%;
		height: 25px;
		background-color: black;
		position: relative;
		top: -4px;
	}

	div.left {
		width: 700px;
		float: left;
	}
	
	div.right {
		width: 300px;
		float: left;
	}
	
	h1 {
		font-family: 'Quicksand', Arial, serif;
		font-weight: 700;
		font-size: 72px;
		text-transform: uppercase;
		text-decoration: underline;
		background-image: url(images/gray_and_white_diagonal_stripes_background_seamless.gif);
		text-shadow:0 2px 0 #C2FF00;
	}

	div.right p {
		font-family: 'Quicksand', Arial, serif;
		font-weight: 300;
		font-size: 22px;
		margin-left: 10px;
		font-style: italic;
	}

	div.right h4 {
		text-shadow:0 3px 0 #A7A7A7;
		margin-left: 10px;
		font-family: 'Quicksand', Arial, serif;
		font-weight: 700;
		font-size: 35px;
		text-transform: uppercase;
	    -webkit-animation-name: blinker;
		-webkit-animation-duration: 1s;
	    -webkit-animation-timing-function: linear;
	    -webkit-animation-iteration-count: infinite;
		    
	    -moz-animation-name: blinker;
	    -moz-animation-duration: 1s;
	    -moz-animation-timing-function: linear;
	    -moz-animation-iteration-count: infinite;
		    
	    animation-name: blinker;
	    animation-duration: 1s;
	    animation-timing-function: linear;
	    animation-iteration-count: infinite;
		}

		@-moz-keyframes blinker {  
	    0% { opacity: 1.0; }
	    50% { opacity: 0.0; }
	    100% { opacity: 1.0; }
		}

		@-webkit-keyframes blinker {  
	    0% { opacity: 1.0; }
	    50% { opacity: 0.0; }
	    100% { opacity: 1.0; }
		}

		@keyframes blinker {  
	    0% { opacity: 1.0; }
	    50% { opacity: 0.0; }
	    100% { opacity: 1.0; }
		}
	}